<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HP Store Automation Suite" parallel="false" verbose="2">

    <test name="Positive Tests - Happy Path">
        <groups>
            <run>
                <include name="positive"/>
            </run>
        </groups>
        <classes>
            <class name="com.hp.automation.positive.HappyPathTest"/>
        </classes>
    </test>

    <test name="Negative Tests - Edge Cases">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="com.hp.automation.negative.NegativeTest"/>
        </classes>
    </test>

</suite>